/**
 * ICONS.CSS
 * SVG icons used in this test case
 * ------------------------------------------------------*/

 [class*=i-] {
	display: inline-block;
	vertical-align: middle;
	width: 3rem;
	height: 3rem;
	font: 0/0 a;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: 100% auto;
}

.i-clock		{ background-position: 0.6rem -0.5rem; }
.i-user			{ background-position: 0.6rem -4.5rem; }
.i-message		{ background-position: 0.6rem -8.4rem; }
.i-call			{ background-position: 0.6rem -12.5rem; }